<!--广告位-->
<!--<div class="ad">-->
<!--<div class="row">-->
<!--<div class="col-xs-3 ad1">1</div>-->
<!--<div class="col-xs-6 ad2">2</div>-->
<!--<div class="col-xs-3 ad3">1</div>-->
<!--</div>-->
<!--</div>-->

<!--查询-->
<div class="alert-title">空调参数查询</div>
<div class="query">
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6 query-input">
            <div class="btn-group" role="group" aria-label="按钮">
                <button type="button" data-type="1" class="btn btn-lg query-type btn-active">主 机</button>
                <button type="button" data-type="2" class="btn btn-lg query-type ">风机盘管</button>
                <button type="button" data-type="3" class="btn btn-lg query-type ">空气机组</button>
            </div>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="queryText" placeholder="请输入品牌或型号">
                <span class="input-group-btn">
                    <button class="btn btn-default theme-color" type="button" id="search">点击搜索</button>
                </span>
            </div><!-- /input-group -->
            <div class="pull-right click-feed"><a href="/about">没有你想要的内容或内容错误？【点击反馈】</a></div>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <div class="row query-result">
        <div class="col-xs-12">
            <ul class="list-group result-list"></ul>
        </div>
    </div>
</div>

<!--新闻资讯-->
<div class="alert-title">新闻资讯</div>
<div class="news">
    <% for(var i=0; i < result.news.length; i++){ var item = result.news[i]; %>
    <div class="media">
        <div class="media-left">
            <a href="<%=item.link%>">
                <img class="media-object" src="<%=item.pic%>">
            </a>
        </div>
        <div class="media-body">
            <a href=""><h4 class="media-heading"><%=item.name%></h4></a>
            <p class="content"><%=item.content%></p>
            <p><%=item.ctime.toLocaleDateString()%></p>
        </div>
    </div>
    <%}%>
</div>
<!--品牌推荐-->
<div class="alert-title">品牌推荐</div>
<div class="brand">
    <div class="row">
        <% for(var i=0; i < result.brand.length; i++){ var item = result.brand[i]; %>
        <div class="col-xs-2">
            <a href="<%=item.link%>" class="thumbnail">
                <img src="<%=item.pic%>">
                <div class="caption">
                    <p><%=item.name%></p>
                </div>
            </a>
        </div>
        <%}%>
    </div>
</div>
<!--友情链接-->
<div class="alert-title">友情链接</div>
<div class="links">
    <div class="row">
        <% for(var i=0; i < result.link.length; i++){ var item = result.link[i]; %>
        <div class="col-xs-2"><a href="<%=item.link%>" target="_blank"><%=item.name%></a></div>
        <%}%>
    </div>
</div>
<!--广告位-->

<div class="row">
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-bordered" id="myTable">

                </table>
            </div>
        </div>
    </div>
</div>
